.action-button{
    background-color: #3040C4;
    color: #fff;
    width: 160px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
}
.hide_desctop{  
    @include for-large-up{
        display: none;
    }
}
.hide_mobile{
    @include for-large-down{
        display: none;
    }
}
