.feautures{
    display: flex;
    position: relative;
    
    @include for-large-down{
        display: none;
    }
    &__content{
        width: 1140px;
        margin: auto;
        display: flex;
    }
    &__colum{
        width: 459px;
    }
    &__subtitle{
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        color: $text-color-green;
        margin: 0;
    }
    &__title{
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -0.5px;
        margin-top: 24px;
        margin-bottom: 0;
    }
    &__description{
        font-size: 24px;
        line-height: 34px;
        margin-top: 30px;
        margin-bottom: 0;
    }
    &__advantage-header{
        line-height: 42px;
        margin-top: 42px;
        display: flex;
    }
    &__advantage-title{
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: $text-color-blue;
        margin: 0;
        margin-left: 15px;
    }
    &__advantage-description{
        font-size: 18px;
        line-height: 26px;
        margin-top: 8px;
        margin-bottom: 0;
        padding-bottom: 20px;
        border-bottom: 3px solid $color-dark-blue;
    }
    &__advantage-item{
        border-bottom: 1px solid $color-dark;
        margin-top: 21px;
        padding-bottom: 22px;
        display: flex;
    }
    &__advantage-item-text{
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        margin-left: 15px;
    }
    &__left-decoration{
        position: absolute;
        top: 258px;
        height: 166px;
    }
    &__banner{
        position: absolute;
        right: 0;
    }
}