.header{
    height: 64px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 15px;
    &__button {
        display: none;
    }

    &__menu-button {
        width: 58px;
        border: none;
        border-left: 1px solid #00000026;
        height: 100%;
        margin-left: auto;
        background: transparent;
    }

    &__menu-ikon {
        width: 18px;
        height: 13px;
        background-image: url('https: //gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png');
        display: inline-block;
    }
    @include for-large-up {
        width: 1140px;
        height: 62px;
        margin: auto;
        display: flex;
    }
    &__menu-button {
        @include for-large-up {
            display: none;
        }
    }
}
.navigation{
        display: none;
}


@media screen and (min-width: 400px) {
    .top-section{
        background-color: #F3C6BD;
        padding-top: 39px;
    }
    
    .navigation{
        display: block;
        margin-left: auto;
        margin-top: 7px;
        margin-right: 75px;
    }
    .header__button{
        display: block;
    }
    .logo__description{
        font-size: 18px;
        line-height: 25px;
        font-size: #2B292D;
        opacity: 0.6;
    }
    .logo__image{
        width: 60px;
        height: 60px;
        margin-right: 15px;
    }
}
.navigation__item{
    color: #2B292D;
    text-decoration: none;
    line-height: 25px;
    font-size: 18px;
    margin-right: 50px;
}
.navigation__item:last-child{
    margin-right: 0;
}
.navigation__item__selected{
    font-weight: 700;
}
.navigation__arrow{
    display: inline-block;
    height: 5px;
    width: 8px;
    margin-left: 11px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
}
.logo{
    display: flex;
}
.logo__image{
        width: 48px;
        height: 48px;
        margin-right: 13px;
    }
.logo__name{
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}
.logo__description{
    display: none;
}
.logo__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-section{
    background-color: #F3C6BD;
}
