@import 'breakpoints.scss';
@import 'common.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'tips.scss';

*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color: #2B292D;
}
.page{
    width: 100%;
    overflow-x: hidden;
}
@media screen and (min-width: 400px) {
    .page{
        width: 1400px;
        margin: auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}