$color-light: #F4F5F7;
$color-dark-blue: #3040C4;
$color-light-grey: #E3E3E3;
$color-dark: #2B292D;
$color-grey: #00000026;
$color-pink: #F3C6BD;

$text-color-green: #009B4D;
$text-color-light-grey: #2B292D99;
$text-color-white: #fff;
$text-color-blue: #3142C6;

$border-color: #2b292d33;
