$color-light: #F4F5F7;
$color-dark-blue: #3040C4;
$color-blue: #3141C5;
$color-light-grey: #E3E3E3;
$color-dark: #2B292D;
$color-grey: #00000026;
$color-pink: #F3C6BD;
$color-white: #fff;
$color-light-blue: rgba(0, 161, 198, 0.07);

$text-color-green: #009B4D;
$text-color-light-grey: #2B292D99;
$text-color-white: $color-white;
$text-color-blue: #3142C6;
$text-color-black: #000000;

$border-color: #2b292d33;
